@model IEnumerable<INTEX.Models.PayInfo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Card)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecurityCode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Card)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecurityCode)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PayInfoID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PayInfoID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PayInfoID })
        </td>
    </tr>
}

</table>
