@model INTEX.Models.AssayTest

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>AssayTest</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Assay.AssayName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assay.AssayName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Test.TestDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Test.TestDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Conditional)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Conditional)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
