@model INTEX.Models.CustomerCustomerCredentials

@{
    ViewBag.Title = "Customer Portal";
}
<table style="width:85%">
    <tr>
        <th>@Html.ActionLink("Request A Quote", "RequestQuote", new { id = Model.Customer.CustomerID }) </th>
        <th>@Html.ActionLink("Start A New Work Order", "NewWorkOrder", new { id = Model.Customer.CustomerID }) </th>
        <th>@Html.ActionLink("Current Work Orders", "CurrentWorkOrders", new { id = Model.Customer.CustomerID }) </th>
        <th>@Html.ActionLink("View Results", "ViewResults", new { id = Model.Customer.CustomerID }) </th>
        <th>@Html.ActionLink("Billing", "CustomerBilling", new { id = Model.Customer.CustomerID }) </th>
        <th>@Html.ActionLink("Customer Account Information", "CustomerAccount", new { id = Model.Customer.CustomerID }) </th>
    </tr>
</table>


<h2>Welcome @Html.DisplayNameFor(model => model.CustomerCredentials.Username) to your customer portal </h2>

<div>
    <h4>CustomerCredentials</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CustomerCredentials.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerCredentials.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerCredentials.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerCredentials.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.ContactID)
        </dt>

        <dt>
            @Html.DisplayFor(model => model.Customer.ContactID)
        </dt>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Customer.CustomerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
