@model INTEX.Models.CustomerCustomerCredentials

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <h4>CustomerCredentials</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CustomerCredentials.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerCredentials.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerCredentials.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerCredentials.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.ContactID)
        </dt>

        <dt>
            @Html.DisplayFor(model => model.Customer.ContactID)
        </dt>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Customer.CustomerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
