@model IEnumerable<INTEX.Models.Assay>

<h2>This view allows the customer to select an assay.</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AssayName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssayDetails)
        </th>
        <th>
            Tests
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeEstimate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LiteratureReferences)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AssayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssayDetails)
            </td>
            <td>
                @foreach (var assaytest in item.AssayTest)
                {
                    @:<p>@assaytest.Test.TestDescription Test</p>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeEstimate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LiteratureReferences)
            </td>
            <td>
                @Html.ActionLink("Add to Quote Request", "SelectCompound", new { id = item.AssayID })
            </td>
        </tr>
    }

</table>
