@model INTEX.Models.Quote

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Quote</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.QuoteRequest.QuoteRequestID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuoteRequest.QuoteRequestID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuotedAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuotedAmount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.QuoteID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
