@model IEnumerable<INTEX.Models.Quote>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.QuoteRequest.QuoteRequestID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuotedAmount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.QuoteRequest.QuoteRequestID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuotedAmount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.QuoteID }) |
            @Html.ActionLink("Details", "Details", new { id=item.QuoteID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.QuoteID })
        </td>
    </tr>
}

</table>
