@model IEnumerable<INTEX.Models.Sample>

@{
    ViewBag.Title = "Index";
}

<h2>Samples List</h2>

<p>
    @Html.ActionLink("Create New", "SamplesCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Assay.AssayName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompoundSequenceCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LTNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Compound.CompoundName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActualWeight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateArrived)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MolecularMass)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MTD)
        </th>
        <th>
            Add Test Tube
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Assay.AssayName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompoundSequenceCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LTNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Compound.CompoundName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActualWeight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateArrived)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MolecularMass)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MTD)
        </td>
        <td>
            @Html.ActionLink("View Associated Test Tubes", "TestTubesIndex", new { id = item.CompoundSequenceCode }, new { cpk = item.LTNumber })
        </td>
        <td>
            @Html.ActionLink("Edit", "SamplesEdit", new { id = item.CompoundSequenceCode }, new { cpk = item.LTNumber }) |
            @Html.ActionLink("Details", "SamplesDetails", new { id = item.CompoundSequenceCode }, new { cpk = item.LTNumber }) |
            @Html.ActionLink("Delete", "SamplesDelete", new { id = item.CompoundSequenceCode }, new { cpk = item.LTNumber })
        </td>
    </tr>
}

</table>
