@model IEnumerable<INTEX.Models.TestTube>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Test Tubes List</h2>

<p>
    @Html.ActionLink("Create New", "TestTubesCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Sample.DateArrived)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TestID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActualCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TestDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TestStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Predecessor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Sample.DateArrived)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TestID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActualCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TestDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TestStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Predecessor)
        </td>
        <td>
            @Html.ActionLink("Edit", "TestTubesEdit", new { id=item.TestTubeID }) |
            @Html.ActionLink("Details", "TestTubesDetails", new { id=item.TestTubeID }) |
            @Html.ActionLink("Delete", "TestTubesDelete", new { id=item.TestTubeID })
        </td>
    </tr>
}

</table>
