@model IEnumerable<INTEX.Models.Assay>

@{
    ViewBag.Title = "PharmacologyCatalog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Pharmacology Catalog</h2>

<p>
    @Html.ActionLink("View Protocol Catalog", "ProtocolCatalog")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AssayID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssayName)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(model => item.AssayID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AssayName)
        </td>
    </tr>
}

</table>
