@model IEnumerable<INTEX.Models.Assay>

@{
    ViewBag.Title = "ProtocolCatalog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Protocol Catalog</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AssayName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssayDetails)
        </th>
        <th>
            Materials Used in assay
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeEstimate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LiteratureReferences)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AssayName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AssayDetails)
        </td>
        <td>
            @foreach (var assaytest in item.AssayTest)
            {
                @:<p>Test: @assaytest.Test.TestDescription</p>
                foreach (var testmat in assaytest.Test.TestMaterial)
                {
                    @:<p>Material: @testmat.Material.MaterialName Quantity: @testmat.QuantityUsed</p>
                }
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeEstimate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LiteratureReferences)
        </td>
    </tr>
}

</table>
